@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

.Home {
  background-color: #f8f8f8;
}

.Catalogo {
  background-color: #f8f8f8;
}

.container-image {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)),
    url("../src/assets/background_forest.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 25em;
}

.container-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 85%;
  height: 25em;
  margin: 0 auto;
  color: white;
}

.container-text h1 {
  margin: 0.5em 0em;
  font-weight: 600;
  color: #ff6200;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.cards-intro h2 {
  color: #ff6200;
  font-weight: 600;
}

.cards-intro {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  padding: 2em;
}

.card-one,
.card-two,
.card-three,
.card-four {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 2em;
}

.button-cta {
  margin: 0.25em 0.5em;
  border: none;
}

.cards-images h2 {
  color: #ff6200;
  font-weight: 600;
}

.cards-images {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  padding: 2em;
}

.carousel {
  width: 86%;
  margin: 0 auto;
}

.carousel-item {
  height: 350px;
}
.carousel-item img {
  height: 350px;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

.columns-text, .columns-text-footer {
  width: 74%;
  padding-top: 2em;
  padding-bottom: 3em;
  margin: 0 auto;
}

.column-right, .column-right-footer {
  float: right;
  width: 45%;
}

.column-left, .column-left-footer {
  display: inline-block;
  width: 45%;
}

.container-footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)),
    url("../src/assets/background_mosaic.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 25em;
}

.container-info-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 85%;
  height: 25em;
  margin: 0 auto;
  color: white;
}

.container-text h1 {
  margin: 0.5em 0em;
  font-weight: 600;
  color: #ff6200;
}

.button-footer-cta {
  margin: 0.25em 0.5em;
  border: none;
}

.footer-rows {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.footer-bottom {
  background-color: white;
}

.footer-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.footer-first-row a {
  text-decoration: none;
  font-size: 0.75em;
  color: black;
  font-weight: bold;
}

.footer-first-row a:hover {
  color: gray;
}

.footer-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 1em 0em;
}


.footer-second-row a {
  text-decoration: none;
  font-size: 0.75em;
  color: black;
  font-weight: bold;
}

.footer-second-row a:hover {
  color: gray;
}

.footer-third-row {
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.footer-third-row p {
  text-decoration: none;
  font-size: 0.75em;
  color: black;
  font-weight: 300;
}

.container-image-catalogo {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)),
    url("../src/assets/background_ocean.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 25em;
}

.container-text-catalogo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 85%;
  height: 25em;
  margin: 0 auto;
  color: white;
}

.container-text-catalogo h1 {
  margin: 0.5em 0em;
  font-weight: 600;
  color: #ff6200;
}

.container-modals-info {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-top: 2em;
}

.container-modals-info h2 {
  color: #ff6200;
  font-weight: 600;
}

.container-modals-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.modal-opener-1,
.modal-opener-2,
.modal-opener-3,
.modal-opener-4,
.modal-opener-5,
.modal-opener-6,
.modal-opener-7,
.modal-opener-8,
.modal-opener-9,
.modal-opener-10 {
  width: 280px;
  padding: 0.55em;
}

.modal-opener-1 img,
.modal-opener-2 img,
.modal-opener-3 img,
.modal-opener-4 img,
.modal-opener-5 img,
.modal-opener-6 img,
.modal-opener-7 img,
.modal-opener-8 img,
.modal-opener-9 img,
.modal-opener-10 img {
  background-color: #76d4e0;
  filter: invert(22%) sepia(78%) saturate(2716%) hue-rotate(171deg)
    brightness(94%) contrast(101%);
  width: 7em;
  padding: 1em;
  border-radius: 10%;
}

.modal-opener-1 h5,
.modal-opener-2 h5,
.modal-opener-3 h5,
.modal-opener-4 h5,
.modal-opener-5 h5,
.modal-opener-6 h5,
.modal-opener-7 h5,
.modal-opener-8 h5,
.modal-opener-9 h5,
.modal-opener-10 h5 {
  margin-top: 0.5em;
  font-weight: 600;
  color: black !important;
}

.modal-opener-1 p,
.modal-opener-2 p,
.modal-opener-3 p,
.modal-opener-4 p,
.modal-opener-5 p,
.modal-opener-6 p,
.modal-opener-7 p,
.modal-opener-8 p,
.modal-opener-9 p,
.modal-opener-10 p {
  font-size: 0.9em;
  color: black !important;
}

.modal-opener-1 button,
.modal-opener-2 button,
.modal-opener-3 button,
.modal-opener-4 button,
.modal-opener-5 button,
.modal-opener-6 button,
.modal-opener-7 button,
.modal-opener-8 button,
.modal-opener-9 button,
.modal-opener-10 button {
  background-color: transparent;
  border: none;
}

.modal-opener-1 button:hover,
.modal-opener-2 button:hover,
.modal-opener-3 button:hover,
.modal-opener-4 button:hover,
.modal-opener-5 button:hover,
.modal-opener-6 button:hover,
.modal-opener-7 button:hover,
.modal-opener-8 button:hover,
.modal-opener-9 button:hover,
.modal-opener-10 button:hover {
  border: transparent;
  border-radius: 20px;
  background-color: white;
  transition: 0.3s ease;
}

.modal-opener-body {
  padding: 1.3em;
}

.cta {
  text-align: center;
  padding: 2em;
  background-color: #ff6200;
}

.cta h3 {
  color: #ffffff;
}

.buttons-cta-one,
.button-cta-two {
  margin: 0.65em 1em;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:hover {
  text-decoration: none;
  color: #ffffff;
}

.link-main {
  text-decoration: none;
  color: #ffffff;
}

.link-main:hover {
  text-decoration: none;
  color: #000000;
}

.container-gasoline {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.container-gasoline h2 {
  color: #ff6200;
  font-weight: 600;
}

.container-gasoline-cards {
  width: 75%;
  margin: 0 auto;
}

.gasoline {
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.gasoline-img {
  width: 50%;
}

.gasoline-placeholder {
  width: 80%;
  transition: 0.6s ease;
}

.gasoline-placeholder:hover {
  transform: scale(1.05);
}

.gasoline-text {
  width: 50%;
}

.hr-gas {
  width: 75%;
}

#gasoline-4 {
  margin-bottom: 1.35em;
}

@media (max-width: 1075px) {
  .footer-second-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 1em 0em;
  }

  .second-row-links {
    margin-bottom: 1em;
    text-align: center;
  }

  .copyright {
    text-align: center;
    margin: 0 auto;
  }

  .column-left, .column-right {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 1100px) {

  .container-info-footer {
    margin-top: 1.5em;
  }

  .container-footer-buttons {
    margin-bottom: 3em;
  }

  .columns-text-footer {
    width: 95%;
  }

  .container-gasoline {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  .gasoline, .hr-gas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .container-gasoline-cards {
    width: 100%;
  }

  .gasoline h5, .gasoline p {
    margin: 0.75em 0em;
  }

  .gasoline-placeholder {
    width: 250px;
    transition: 0.6s ease;
  }

  .gasoline-placeholder:hover {
    transform: scale(1.05);
  }

  .text-display {
    display: none;
  }

  .gasoline-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
}
